/* Default settings for all elements */


body {
    font-family:Arial, Helvetica, sans-serif;
    padding: 0;
    margin: 0;
    color: white;
}
.bb {border: 1px solid black;}
.bgg{background-color:rgba(59, 59, 56, .9)}
#background{
    position: fixed;
    top: 0;
    left: 0;
    z-index: -1;
    height: 100%;
    width: 100%;
    background-color:darkcyan;
}
#background-video { 
    width: 100%;
    height: 100%;
    background-position: center;
    position: fixed;  /* bg slides without this */
    object-fit: fill; /* lets background fit screen instead of cropping out. */
    left: 0;  
    right: 0;
    top: 0;
    bottom: 0;
}
/***************************************************
    Beginnning of Navbar section
***************************************************/
#timeBox{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
}
#time{padding-right: 40px;}
.navbar{
    position: fixed;
    z-index: 1;
    top: 0;
    left: 0;
    display: flex;
    flex-direction: row;
    background: slategray;
    width: 100%;
    height: 6%;
    border-bottom: 1px solid black;
    justify-content: space-between;
    align-items: center;
    background: rgb(59, 59, 56);
    color: white;
    overflow: hidden;
}
.navbar .navUrl{
    display: flex;
    flex-direction: row;
    padding-left: 15px;
    align-items: center;
}
.navbar div a{
    margin: 10px;
    color: white;
    font-style: normal;
    text-decoration: none;
}
.pt{
    padding-top: 4%;
}
.full {
    min-height: 100vh;
    width: 100%;
    overflow: hidden;
    border-bottom: 1px solid black;
}
.navOpt:hover{
    color: green;
    transition: 0.4s ease-in;
}
#title:hover{
    color:royalblue;
    transition: 0.3s ease-in;
}
/***************************************************
    Hero section of Portfolio
***************************************************/
.hero{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    color: white;
    background-color: darkslategray;
    background-image: url(../images/background.jpg);
    background-repeat: no-repeat;
    background-size: cover;
}
#heroContent{
    padding: 20px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color:rgba(59, 59, 56, .5);
    border: 1px solid black;
}
#heroContent p, #heroContent h1{
    margin: 10px;
}

/***************************************************
Beginning of About section of Portfolio
***************************************************/
.about{
    min-height: 100vh;
    padding-bottom: 15px;
    display: flex;
    flex-direction: column;
    align-items: center;
}
#aboutSection{
    height: 80%;
    width: 80%;
    margin-top: 5px;
    display: flex;
    flex-direction: row;
    justify-content: center;
}
#aboutMain h1{
    padding: none;
    margin: 0;
    padding: 2px 5px;
}
#aboutSection .left{
    width: 45%;
    height: 100%;
    margin-right: 20px;
    padding: 0 25px 25px 25px;
}
#aboutSection .right{
    background-color: yellow;
    width: auto;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
}
#aboutSection .top{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: auto;
    padding: 20px;
    height: auto;
}
#aboutSection .top p {margin: 10px 0 0 0;}

#aboutSection .bottom {
    width: 100%;
    height: 20%;
    text-align: center;
}
/***************************************************
    Beginning of Projects Section
***************************************************/
#projects{
    min-height: 100vh;
    border-top: 1px solid black;
    display: flex;
    flex-direction: column;
    align-items: center;
    overflow: auto;
    background-color:lightgreen;
    background-repeat: no-repeat;
    background-size: cover;
}
#projects h1{
    padding: none;
    margin-bottom: 0;
    padding: 2px 5px;
}
.buttonCont{
    display:flex;
    flex-direction: row;
    justify-content: flex-end;
    align-items: flex-end
}
#projectsBody {
    height: auto;
    object-fit: contain;
    padding: 2rem;
    width: 95%;
    /* margin: 15px 0;
    background-color: rgba(255, 0, 0, .3); */
    /* border: 1px solid black; */
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    align-items: stretch;
    justify-content: center;
}
.projectCard{
    max-width: 20%;
    height: auto;
    padding: 15px;
    border: 2px solid black;
    margin: 10px;
    background: #d2b48c;
    color: black;
    overflow: hidden;
}
.projectCard h2{text-decoration: underline;}
.projectCard img{margin: auto;}
.content {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.projectCard h2{
    margin: 5px 0;
}
.projectCard p{
    margin-bottom: 10px;
}
.projectCard button {
    border: 1px solid black;
    background-color: rgba(59, 59, 56, .9);
    color: white;
    width: 20%;
    height: 2rem;
}
/***************************************************
    Beginning of Resume Section
***************************************************/
#resume, #resumeBody{
    display: flex;
    align-items: center;
    flex-direction: column; 
    width: auto;
}
#resume{
    height: 100vh;
}

#resumeBody{
    justify-content: center;
    height: 80%;
    width: 85%;
    background-color: rgba(59, 59, 56, .7);
}
/***************************************************
    Beginning of Contact Section
***************************************************/
#contact{
    height: 100vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    background-color:skyblue;
    background-repeat: no-repeat;
    background-size: cover;
}
#contact h1{
    padding: 10px;
    background-color:rgba(59, 59, 56, .8);
}
#contactBody{
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    min-width: 45%;
    min-height: 50%;
    background-color:rgba(59, 59, 56, .8);
}
.square{
    height: 100px;
    width: 100px;
    border: 2px solid black;
    margin-right: 10px;
    background-color:rgba(255, 0, 0, .3)
}
#socialLinks {
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
}
#socialLinks a {
    padding: 5px 0;
    text-decoration: none;
    color: white;
    font-size: 20px;
}
.link{font-size: 14px;}
/***************************************************
    Beginning of Footer section
***************************************************/
footer{
    display: flex;
    flex-direction: row;
    background: slategray;
    width: 100%;
    height: 6vh;
    border-top: 1px solid black;
    justify-content: center;
    align-items: center;
    background: rgb(59, 59, 56);
    color: white;
    overflow: hidden;
}
/***************************************************
    Modal CSS - CSS 
***************************************************/
/* The Modal (background) */
.modal {
    display: none; /* Hidden by default */
    position: fixed; /* Stay in place */
    z-index: 2; /* Sit on top */
    left: 0;
    top: 0;
    width: 100%; /* Full width */
    height: 100vh; /* Full height */
    overflow: auto; /* Enable scroll if needed */
    background-color: rgb(0,0,0); /* Fallback color */
    background-color: rgba(0,0,0,0.4); /* Black w/ opacity */
  }
  
  /* Modal Content/Box */
  .modal-content {
    display: block;
    flex-direction: column;
    background-color: rgba(59, 59, 56, .95);
    margin: 5% auto; /* 5% from the top and centered */
    height: 80%;
    padding: 20px;
    border: 1px solid black;
    width: 80%; /* Could be more or less, depending on screen size */
  }
  
  /* The Close Button */
  .close {
    color: #aaa;
    float: right;
    align-self: right;
    font-size: 28px;
    font-weight: bold;
  }
  #modalMain{
    display:flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
  }
  .close:hover,
  .close:focus {
    color: black;
    text-decoration: none;
    cursor: pointer;
  }
/***************************************************
    Scrollbar CSS
***************************************************/
/* Scrollbar Styling */
::-webkit-scrollbar {width: 50px;}
  /* Track */
  ::-webkit-scrollbar-track {border-radius: 10px;}
  /* Handle */
  ::-webkit-scrollbar-thumb {
    background: none; 
    background-position: center;
    background-repeat: no-repeat;
  }
  body {overflow: overlay;} /*allows the content to spill into the area reserved for the scrollbar*/

  button:hover {
    background: black;
    color: white;
  }